<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tecleras UV</title>
    <script type="text/javascript" src="/public/js/bootsrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/estilos_personalizados.css" />
    <!--
    <script src="/public/js/jquery-1.10.2.min.js"></script>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/roboto.min.css" rel="stylesheet">
    <link href="/public/css/material.min.css" rel="stylesheet">
    <link href="/public/css/ripples.min.css" rel="stylesheet">

    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/ripples.min.js"></script>
    <script src="/public/js/material.min.js"></script>

    <script src="/public/js/angular-1.4.5/angular.min.js"></script>
    <script src="/public/js/angular-1.4.5/angular-animate.min.js"></script>
    <script src="/public/js/angular-strap/angular-strap.min.js"></script>
    <script src="/public/js/angular-strap/angular-strap.tpl.min.js"></script>
    <script src="/public/js/angularapp.js"></script>
    <link rel="stylesheet" href="/public/css/estilos_personalizados.css" />
  -->
  </head>
  <body>
    <br>
    <div class="row row-centered">
      <div class="col-xs-12 col-centered">
        <img align="center" id="logo" src="/public/images/logo.png" alt="logo" />
        <h1 align="center">Tecleras UV</h1>
      </div>
    </div>
    <br>
