<% include header %>

<form class="" action="/consultar" method="post">

  <!-- consultar un dato-->
  ¿Está seguro de eliminarlo?
  <input type="submit" name="eliminar" value="Eliminar">
  <a href="javascript:history.back()">Volver Atrás</a>
</form>

<% include footer %>
